 
      <div class="card-group">
        <ng-container  *ngFor="let item of items">
            <div class="col-4">
                    <div class="card  mb-1 " >
                            <h6 class="card-header">{{item.title}}</h6> 
                             
                            <img class="img-thumbnail rounded mx-auto d-block" [src]="item.thumbnail | thumbnailToImageSrc" *ngIf="item.thumbnail">  
                              
                          </div>
            </div>
               
            <!-- <ac-events-list-item [item]="item" class="col-4"></ac-events-list-item>  -->
          </ng-container>
      </div>